import(methods)
importFrom(utils, download.file, read.csv, read.delim)
importFrom(RCurl, curlOptions, getURL)
importFrom(Biostrings, readDNAStringSet)
importFrom(XML, xmlValue, xmlAttrs, xmlDoc, xmlName, xmlTreeParse,
    xpathApply)

## other methods are exported with their generic
exportMethods(show)

## patch XML
S3method(xmlValue, XMLAttributeValue)

## .* are not exported
exportPattern("^[^\\.]")          # functions and generics (+ methods)
